{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs":3,
        "shippedProposals": true,
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react"
  ],
  "env": {
    "meteor:coverage": {
      "plugins": [
        "transform-class-properties",
        "istanbul"
      ]
    }
  }
}
