# I understand and want these
.DS_Store
.build/
.deploy
.galaxy
.meteor/versions
dump/
misc/
node_modules/
storybook-static/
bitbucket-pipelines.yml
bundle.tar.gz
*settings.json
start-atlas.sh
start-mlab.sh

# The rest crept in from who knows where
.eslintcache
npm-debug.log
*.scssc
.sass-cache/
*-ck.js
providers_secret.js
config.rb
deploy.sh
.demeteorized
.idea
scratch
.meteor/meteorite
mup.json
packages_update.py
get_file_list.sh
packages_update.py
publish_packages.sh
jsdoc-conf.json
jsdoc.json
packages/nova-router/.npm
npm-debug.log
