# I understand and want these
.build/
.DS_Store
.meteor/versions
bundle.tar.gz
dump/
node_modules/
bitbucket-pipelines.yml
development.settings.json
production.settings.json
settings.json
.deploy
.galaxy
misc/emails/mailgun-curl-test.sh
start-atlas.sh
start-mlab.sh

# The rest crept in from who knows where
.eslintcache
npm-debug.log
*.scssc
.sass-cache/
*-ck.js
providers_secret.js
config.rb
deploy.sh
.demeteorized
settings.json.not-used
.idea
scratch
.meteor/meteorite
mup.json
packages_update.py
get_file_list.sh
packages_update.py
publish_packages.sh
jsdoc-conf.json
jsdoc.json
packages/nova-router/.npm
npm-debug.log
